body {
  font-family: 'monserrat';
  box-sizing: border-box;
  margin: 0;
}

/* styling text */
h1 {
  font-size: 45px;
  margin: 0;
}

h2 {
  font-size: 25px;
  margin: 0;
  margin-bottom: 20px;
}

h3 {
  background-color: #FA382F;
  color: white;
  width: fit-content;
  font-size: 24px;
  font-weight: bold;
  padding: 4px 5px;
  margin: 10px;
}

h5 {
  margin-top: 50px;
  font-size: 22px;
  font-weight: bold;
  color: #FA382F;
}

p {
  font-size: 18px;
  letter-spacing: 2px;
  line-height: 25px;
}

a {
  text-decoration: none;
  color: unset;
}

.bold {
  font-weight: bold;
}

.not-bold {
  font-weight: normal;
}

.colored-text {
  color: #FA382F;
}

.underline {
  border-bottom: 1px solid #FA382F;
}

header p {
  font-family: 'roboto';
  margin-top: 30px;
  font-size: 16px;
}

.about-me p {
  display: inline;
}

.other-projects p {
  font-size: 16px;
  text-align: left;
  margin-top: 25px;
}

.my-thoughts p {
  text-align: left;
}

.gray-background {
  background-color: #F4F4F4;
}

/* styling images */
.linked-in {
  background-image: url("images/linkedin.svg");
}

.linked-in-color  {
  background-image: url("images/linkedin-color.svg");
}

.git-hub {
  background-image: url("images/github.svg");
}

.github-color {
  background-image: url("images/github-color.svg");
}

.stack-overflow {
  background-image: url("images/stackoverflow.svg");
}

.stack-color {
  background-image: url("images/stack-color.svg");
}

.profile-image {
  position: absolute;
  top: 380px;
  height: 160px;
  width: 160px;
  border: white solid 3px;
  border-radius: 50%;
  align-self: flex-end;
}

.image {
  width: 300px;
  height: 200px;
  margin-top: 40px;
  background-color: #797E9D;
}

/* styling decoration element */
.decoration-element {
  position: relative;
  display: inline-block;
  align-items: center;
  margin-right: 10px;
  padding-bottom: 5px;
}

.colored-line {
  border-radius: 5px;
  background-color: #FA382F;
  width: 50px;
  height: 3px;
}

.colored-circle {
  position: absolute;
  top: -3px;
  left: 45px;
  border-radius: 50%;
  background-color: #FA382F;
  width: 10px;
  height: 10px;
}

/* styling elements */
header {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #B4AEB0;
  height: 508px;
  width: 100%;
  padding: 35px;
}

.social-media-links {
  display: flex;
  align-self: flex-end;
}

.social-media {
  border-radius: 50%;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
}

.small {
  border: 3px solid white;
  margin-right: 5px;
  height: 40px;
  width: 40px;
}

.big {
  border: solid 4px #FA382F;
  padding: 16px;
  height: 20px;
  width: 20px;
}

.presentation-text {
  font-weight: bold;
  color: white;
  margin-bottom: 10px;
}

.about-me {
  text-align: center;
  margin-top: 5px;
  padding: 40px;
}

.text-box {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5px;
  padding: 35px;
}

.featured-projects a {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-tags {
  font-size: 13px;
  display: inline-flex;
  width: 90%;
  justify-content: flex-start;
}

.tags {
  background-color: #FDDFE7;
  font-size: 11px;
  font-family: 'roboto';
  margin-right: 7px;
  padding: 5px;
}

.skills {
  font-family:'roboto';
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

ul {
  list-style-type: none;
  font-size: 18px;
  padding: 0;
}

.list {
  height: 260px;
}


/* desktop */

/* .project-tags {width: 670px;}