body {
  font-family: 'monserrat';
  box-sizing: border-box;
  margin: 0;
}

h1 {
  font-size: 45px;
  margin: 0;
}

h2 {
  font-size: 25px;
  margin: 0;
  margin-bottom: 20px;
}

header p {
  font-family: 'roboto';
  margin-top: 30px;
  font-size: 16px;
}

.not-bold {
  font-weight: normal;
}

header {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #B4AEB0;
  height: 508px;
  width: 100%;
}

.social-media-links {
  align-self: flex-end;
  padding-right: 25px;
}

.social-media-button {
  border: 3px solid white;
  border-radius: 50%;
  background: transparent;
  background-repeat: no-repeat;
  background-position: center;
  height: 40px;
  width: 40px;
}

.linked-in {
  background-image: url("images/linkedin.svg");
}

.git-hub {
  background-image: url("images/github.svg");
}

.stack-overflow {
  background-image: url("images/stackoverflow.svg");
}

.presentation-text {
  font-weight: bold;
  color: white;
  margin-bottom: 50px;
  padding-left: 30px;
}

.profile-image {
  position: absolute;
  top: 360px;
  left: 185px;
  border: white solid 3px;
  border-radius: 50%;
  height: 160px;
  width: 160px;
  align-self: flex-end;
}

.about-me {
  background-color: #F4F4F4;
  font-size: 19px;
  letter-spacing: 2px;
  line-height: 25px;
  margin-top: 5px;
  padding: 40px;
}

.about-me p {
  display: inline;
}

.text-decoration {
  position: relative;
  display: inline-flex;
  align-items: center;
  margin-right: 10px;
}

.colored-line {
  border-radius: 5px;
  background-color: #FA382F;
  width: 50px;
  height: 3px;
}

.colored-circle {
  position: absolute;
  left: 45px;
  border-radius: 50%;
  background-color: #FA382F;
  width: 10px;
  height: 10px;
}